<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/Console/public/css/public.css")
    @Styles.Render("~/Assets/Console/common/layui/css/layui.css")
    @Styles.Render("~/Assets/Console/index/css/index.css")
    @Styles.Render("~/Assets/Console/lookingFor/css/lookingFor.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/Assets/Console/common/jquery/jquery.min.js")
    @Scripts.Render("~/Assets/Console/common/layui/layui.all.js")
    @Scripts.Render("~/Assets/Console/public/js/public.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="main">
        <!-- 顶部 -->
        <div class="layui-layout layui-layout-admin">
            @Html.Partial("_Header")
            @Html.Partial("_LeftMenu")
            <div class="layui-body">
                @RenderBody()
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
    <script>
        var element = layui.element;
    </script>
</body>
</html>
