@{
    ViewBag.Title = "样图详情";
}
@Styles.Render("~/Assets/Console/identity/css/identity.css")
@Styles.Render("~/Assets/Console/publish/css/publish.css")
@Styles.Render("~/Assets/Console/swiper/css/swiper.min.css")
@Styles.Render("~/Assets/Console/publish/css/submitInfo.css")
<div class="breadcrumb">
    <span class="layui-breadcrumb">
        <a href="~/index/index">首页</a>
        <a><cite>样图详情</cite></a>
    </span>
</div>
<div class="content" id="content">
    <div class="container">
        <div class="identity">
            <div class="layui-card">
                <div class="layui-card-header">样图详情</div>
                <div class="layui-card-body auto">
                    <div class="info-img-list">
                        <p>点击图片预览大图。</p>
                        <ul class="info-img-main" >
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/Console/common/provinces/provincesPlus.js")
@Scripts.Render("~/Assets/Console/Publish/js/submitInfoImg.js")
@Scripts.Render("~/Assets/Console/swiper/js/swiper.min.js")